html {
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

a {
    color: #000000;
}

code {
    font-family: 'Inconsolata', monospace;
}

a.site-title {
    text-decoration: none;
}

.site-title {
    color: #086788;
}

a.navigation-item {
    text-decoration: none;
}

.navigation-item {
    color: #000000;
    border-bottom: 2px solid #f0c808;
}
