body {
    font-family: Inconsolata;
}

.body {
    display: flexbox;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.navigation-title {
    align-self: flex-start;
}

.navigation-entries {
    align-self: flex-end;
}
