<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        {% if page.title %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>{{ site.name }}</title>
        {% endif %}

        <meta name="description" content="{{ site.description }}">

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>

    <body>
        <div class="max-width-3 mx-auto">
            <div class="clearfix">
                <div class="col col-6">
                    <h1>
                        <a href="/" class="site-title">
                            {{ site.title }}
                        </a>
                    </h1>
                </div>

                <div class="col col-6">
                    <ul class="list-reset right-align">
                        {% for entry in site.data.navigation %}
                            <li class="inline-block mr1">
                                <a href="{{ entry.url }}">
                                    {{ entry.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr>

            {{ content }}

            <hr>
        </div>
    </body>
</html>
